#top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header, #controls {
  display: grid;
  place-items: center;
}

#header {
  background-color: lightgoldenrodyellow;
}

#header h1 {
  margin: 2px;
}

#header input {
  margin: 8px;
}

#controls {
  background-color: lightgray;
}

#people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
}

.male {
  background-color: lightskyblue;
}

.female {
  background-color: lightpink;
}

.person {
  display: grid;
  place-items: center;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.person img {
  width: 72px;
  object-fit: cover;
  border-radius: 100%;
  margin: 5px;
}

.person:hover {
  animation: beatingheart 1s infinite;
}

@keyframes beatingheart {
  0% {
    transform: scale(1.0);
  }
  25% {
    transform: scale(1.02)
  }
  50% {
    transform: scale(1.0)
  }
  75% {
    transform: scale(1.04)
  }
  100% {
    transform: scale(1.0)
  }
}